<div id='side-menu'>
        
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
        {% assign name = category[0] %}

        <div id='{{ name }}'>
            {% assign posts = site.categories[name] %}
            {% for post in posts %}
                <div>
                    <a class="page-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>   
