---
---

@import "minima";

.logo {
    width: 100px;
    padding-top: 10px;
}

footer {
    text-align: center;
}

.categories {
    float: left !important;
}

.site-header:nth-child(1)  {
    background-color: $grey-color-light;
}
.site-header:nth-child(2)  {
    background-color: shite;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
}
