---
---

@import "minima";

.logo {
    width: 100px;
    padding-top: 10px;
}

footer {
    text-align: center;
    z-index: 3;
}

.categories {
    float: left !important;
}

.site-header:nth-child(1)  {
    background-color: $grey-color-light;
    padding-left: 1em;
}
.site-header:nth-child(2)  {
    background-color: shite;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
}

#side-menu {
    background-color: $grey-color-light;
    float: left;
    width: 0;
    height: 100%;
    padding: 1em;
    position: fixed;
    transition: 0.5s;
    overflow-x: hidden;
}
#close-sidebar {
    float: right;
    border: none;
    background-color: $grey-color-light;
    color: $grey-color-dark;
    font-size: 2em;
    vertical-align: top;
}
.side-menu-toggle {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: none;
}
.page-content {
    padding: 0;
}

.category-btn {
    background-color: $grey-color-light;
    border: 1px solid $grey-color-dark;
    border-radius: 20px;
    padding: 0.5em;
    transition: all 0.2s;
}
.category-btn:hover, .selected {
    background-color: $grey-color-dark;
    color: $grey-color-light;
    padding: 0.7em;
}
.category-btn:focus {
    outline: 0;
}

#display-color {
    padding: 1em;
    padding-left: 0;
}
#display-color > div {
    padding: 0.5em;
    padding-left: 0;
    background-color: white;
    border-radius: 1em;
    width: fit-content;
}

#choose-color, #choose-color:focus {
    height: 1.5em;
    width: 6em;
    border: none;
    border-bottom: 2px solid gray;
}

#box-shadow , #box-border {
    border: 1px solid black;
    padding: 0.5em;
}
.fit-width{
    width: fit-content;
}

input, select {
    border: 1px solid $grey-color-light;
    padding: 0.5em;
    transition: 0.5s;
    font-size: 1em;
    background-color: white;
}

input:hover, select:hover {
    border: 1px solid $grey-color-dark;
}