---
---

@import "minima";

.logo {
    width: 100px;
    padding-top: 10px;
}

footer {
    text-align: center;
}

.categories {
    float: left !important;
}

.site-header:nth-child(1)  {
    background-color: $grey-color-light;
    padding-left: 1em;
}
.site-header:nth-child(2)  {
    background-color: shite;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
}

#side-menu {
    background-color: $grey-color-light;
    float: left;
    width: 12em;
    min-height: 60vh;
    padding: 1em;
}
#side-menu > div {
    display: hidden;
}

.page-content {
    padding: 0;
}

.category-btn {
    background-color: $grey-color-light;
    border: 1px solid $grey-color-dark;
    border-radius: 20px;
    padding: 0.5em;
    transition: all 0.2s;
}
.category-btn:hover, .selected {
    background-color: $grey-color-dark;
    color: $grey-color-light;
    padding: 0.7em;
}
.category-btn:focus {
    outline: 0;
}