<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  <script src="{{ site.js_ext | relative_url }}category.js"></script>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {%- include category_header.html -%}

    <main class="page-content" aria-label="Content">
      {%- include side_menu.html -%}
      <div class="wrapper" style='padding-top: 2em;'>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
