---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign sorted_categories = site.categories | sort %}
  <div id='homepage'>
    {% for category in sorted_categories %}
      {% assign name = category[0] %}
      <h2>{{ name | capitalize }}</h2>
      
      {% assign posts = site.categories[name] | sort: "order" %}
      {% for post in posts %}
        <div>
          <a class="page-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <script>
    showCategory('none')
  </script>

</div>
